WareHoseSchool/WareHoseSchool/Web References/localhost/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WareHouseSchool_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WareHouseSchool_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="authenticationLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contactNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emailAdress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfProductType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductType" nillable="true" type="tns:ProductType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductType" nillable="true" type="tns:ArrayOfProductType" />
  <xs:complexType name="ProductType">
    <xs:sequence>
      <xs:element minOccurs="0" name="productCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="productTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductType" nillable="true" type="tns:ProductType" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image64String" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfProductCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductCard" nillable="true" type="tns:ProductCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductCard" nillable="true" type="tns:ArrayOfProductCard" />
  <xs:complexType name="ProductCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardId" type="xs:int" />
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="isRemoved" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isRemovedDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductCard" nillable="true" type="tns:ProductCard" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="BackEndStatusId" type="xs:int" />
      <xs:element minOccurs="0" name="CardID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ClientStatusId" type="xs:int" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="OrderPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="ArrayOfClientStatuse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientStatuse" nillable="true" type="tns:ClientStatuse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientStatuse" nillable="true" type="tns:ArrayOfClientStatuse" />
  <xs:complexType name="ClientStatuse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientStatusId" type="xs:int" />
      <xs:element minOccurs="0" name="ClientStatusName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientStatuse" nillable="true" type="tns:ClientStatuse" />
  <xs:complexType name="ArrayOfBackEndStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BackEndStatus" nillable="true" type="tns:BackEndStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBackEndStatus" nillable="true" type="tns:ArrayOfBackEndStatus" />
  <xs:complexType name="BackEndStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="BackEndStatusId" type="xs:int" />
      <xs:element minOccurs="0" name="BackEndStatusName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BackEndStatus" nillable="true" type="tns:BackEndStatus" />
</xs:schema>